*{
    margin: 0;
    padding: 0;   
   }
   
   body{
       font-family: 'Raleway', 'Calibry';
       font-weight: 400;
       color:#555555;
   }
   
.margin-1{
    margin:5px;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.margin-2{
    margin:10px;
}

.margin-3{
    margin:15px;
}

.margin-4{
    margin:20px;
}

.margin-left-1{
    margin-left:5px;
}

.margin-right-4{
    margin-right: 20px;
}

.margin-x-1{
    margin-left: 5px;
    margin-right: 5px;
}
.margin-x-2{
    margin-left: 10px;
    margin-right: 10px;
}
.margin-x-3{
    margin-left: 15px;
    margin-right: 15px;
}
.margin-x-4{
    margin-left: 20px;
    margin-right: 20px;
}

.margin-top-4{
    margin-top:20px;
}

.margin-top-5{
    margin-top:50px;
}


.text-center{
    text-align: center;
}